<!doctype html>
<html lang="en">
  <head>
    <title>pinart</title>
    <meta charset="utf-8">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link href="css/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="container"></div>
    <div id="title">pinart<span class="openBtn"></span></div>
    <div id="prompt"></div>
    <div id="info">
      <h1>pinart</h1>
      <p>Use the mouse to tilt and scroll wheel to zoom. Change parameters with the control panel.</p>
      <p>This demo projects webcam video onto a 3D Mesh. It creates a 3D depth map by mapping pixel brightness to Z-depth after a flash from the screen.</p>      
      <p>Built by <a href="http://zainshah.net">Zain Shah</a>. Follow: <a href="http://twitter.com/zan2434">@zan2434</a>.</p>
      <p class="fps"></p>
    </div>
    <div id="overlay">
      <%= base64_image @photo.image1 %>
      <%= base64_image @photo.image2 %>
    </div>
    <script src="js/THREEx.KeyboardState.js"></script>
    <script src="js/three.min.js"></script>
    <script src="js/dat.gui.min.js"></script>
    <script src="js/ImprovedNoise.js"></script>
    <script src="js/Stats.js"></script>
    <script src="js/script.js"></script>
    <script src="js/jquery.min.js"></script>
  </body>
</html>